:root{
    --bg--black: #0C002B;
    --bg--pink: #FF718E;
    --bg--grey: #FAF7F5;
    --bg--offwhite: #FFFEFF;
    --bg--darkgrey: #ADA8AA;
    --bg--lightgrey: #D1CBCD;

}
*{
    outline: none;
}
/* header */
header{
    background-color: var(--bg--black);
    color: white;
    display: flex;
    justify-content: space-between;
    overflow: auto;
    padding: 20px 15px;
    
}
h4{
    font-weight: 600;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-size: .9rem;
}
nav a{
    color: white;
    text-decoration: none;
    padding: 7px 20px;
    text-transform: capitalize;
    font-weight: 300;
    font-size: .9rem;
}
nav a:hover{
    color: var(--bg--pink);
}
.register-btn{
    background-color: var(--bg--pink);
    padding: 10px 25px;
    text-align: center;
    border-radius: 5px;
}
.register-btn:hover{
    color: var(--bg--pink);
    background-color: var(--bg--offwhite);

}

/* content-area */
#content-area{
    display: flex;
}
#filter{
    background-color: var(--bg--grey);
    width: 30%;
}
.inside{
    padding: 20px;
    max-width: 300px;
}
#filter select{
    background: transparent;
    padding: 5px;
    font-size: 14px;
    font-weight: 500;
    color: #1b1b1b;
    display: block;
    margin-bottom: 25px;
    width: 100%;
}
.filters{

}
.title{
    font-size: .9rem;
    display: block;
    margin-bottom: 1rem;
    color: var(--bg--darkgrey);
}
.filters input[type="text"]{
    display: inline-block;
    width: 45%;
    margin-right: 2.5%;
    margin-bottom: 1rem;
    border-radius: 5px;
    font-size: 1rem;
    padding: .4rem;
    border: .2px solid gray;
}
.extras label{
    display: block;
    width: 100%;
    padding: 10px 0;
}
.extras label input[type="checkbox"]{
    float: right;
}


#listings{
    width: 65%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    background: var(--bg--offwhite);
}
.search-area input[type="text"]{
    width: 70%;
    background: transparent;
    font-size: 2rem;
    border: none;
    border-bottom: 2px solid var(--bg--lightgrey);
    margin-bottom: 20px;
    color: var(--bg--lightgrey);

}
.sortby-area {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
.results{
    color: var(--bg--lightgrey);
    font-size: .8rem;
    
}
.sort-options{
    float: right;
    display: flex;
    
}
.sort-options select{
    font-size: .9rem;
    font-weight: 300;
    border: 1px solid var(--bg--lightgrey);
    background: transparent;
    padding: 5px;
    margin-right: 15px;
    vertical-align: top;
}
.view{
    
}
.view i{
    margin-right: 15px;
    font-size: 1.5rem;
}

.listings-results{
    margin-bottom: 60px;
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-left: 2%;
}
.listing{
    background-color: white;
    border-radius: 5px;
    -webkit-box-shadow: 0px 9px 54px -4px rgba(224,224,224,1);
    -moz-box-shadow: 0px 9px 54px -4px rgba(224,224,224,1);
    box-shadow: 0px 9px 54px -4px rgba(224,224,224,1);
}
.listing-img{
    color: white;
    padding: 15px;
    position: relative;
    background: url("https://images.homify.com/images/a_0,c_fit,f_auto,q_auto,w_1108/v1438813270/p/photo/image/379779/modern_house_hd_2/modern-houses-photos-by-mereces-arch-viz-studio.jpg") no-repeat center center ; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 200px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.details{
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgb(210,110,183);
    background: linear-gradient(270deg, rgba(210,110,183,.8) 0%, rgba(134,62,205,.8) 80%);
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    opacity: 0;
    transition: all .6s ease-in-out;
}
.user-info{
    display: flex;
    line-height: 1.4;
    margin-bottom: 10%;
}
.user-img{
    width: 39px;
    height: 39px;
    border-radius: 50%;
    border: 2px solid white;
    background: url("https://images.homify.com/images/a_0,c_fit,f_auto,q_auto,w_1108/v1438813270/p/photo/image/379779/modern_house_hd_2/modern-houses-photos-by-mereces-arch-viz-studio.jpg") no-repeat center center ; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}
.details:hover{
    opacity: 1;
}
.address:hover{
    opacity: 0;
}
.address{
    position: absolute;
    bottom: 20px;
    opacity: 1;
    text-shadow: 0px 1px 4px rgba(91, 91, 91, 1);
    font-size: 1.3rem;
    text-transform: capitalize;
}


.user-details{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}

.user-name{
    color: rgba(255,255,255,1);
    font-size: 15px;
    font-weight: 300;
}
.post-date{
    color: rgba(255,255,255,.8);
}
.listing-details{
    margin-left: 18%;
    margin-bottom: 15%;
}
.floor-space i{
    margin-right: 5%;
}
.floor-space{
    margin-bottom: 8%;
}

.bedrooms i{
    margin-right: 5%;
}
.house-name{
    font-size: 17px;
}
.bottom-info{
    height: 78px;
    padding: 5% 10% 10% 10%;
    line-height: 1.7;
}
.price-month{
    color: #758293;
} 
.location-bottom{
    color: #dae2ef;
}

/* pagination */

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pages{
    display: flex;
    background: white;
    justify-content: space-between;
    align-items: center;
    -webkit-box-shadow: 0px 9px 54px -4px rgba(224,224,224,1);
    -moz-box-shadow: 0px 9px 54px -4px rgba(224,224,224,1);
    box-shadow: 0px 9px 54px -4px rgba(224,224,224,1);
    width: 50%;
    height: 56px;
    padding: 20px 30px;
    
}
.selected{  
    background: white;
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--bg--black);
}

.active{
    background: var(--bg--pink);
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-weight: 700;
}
.selected:hover{
    background: var(--bg--pink);
    color: white;
    cursor: pointer;
}
